{#templates/index.html#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars API</title>
</head>
<body>
    <div>
        <h1>Welcome to the Car API Info Page</h1>
        <h3>Authorization & Authentication</h3>
        <p>Please contact Padme Almedala for your api token.</p>
    </div>
    <div>
        <h3>Cars</h3>
        <a href="/api/cars?make=ford">/api/cars?make=ford</a>
    </div>
    <div>
        <h3>API Documentation</h3>
        <ul>
            <li><a href="https://wa-fastapidev.azurewebsites.net/docs">Swagger</a></li>
            <li><a href="https://wa-fastapidev.azurewebsites.net/redoc">ReDoc</a></li>
            <li><a href="https://wa-fastapidev.azurewebsites.net/items/5?q=somequery">Test Query</a></li>
        </ul>
    </div>
</body>
</html>